<%= turbo_frame_tag "calendar" do %>
  <div class="booking-confirm">
    <%= image_tag "booking_confirm" %>
    <h1>Congratulations!</h1>
    <h4>Your appointment has been successfully requested.</h4>
  </div>
<% end %>
