<div class="errors-page">
  <h1>404</h1>
  <h2>Uh-Oh...</h2>
  <h3>The page you are looking for may have been moved,<br>deleted, or possibly never existed.</h3>
  <%= link_to "Homepage", "#" %>
</div>
