.forgot-password{
  display: flex;
  margin: 0;
  flex-direction: column;
}
.forgot-password--header{
  border-bottom: 10px solid #F2ADAD;
  text-align: center;
}
.forgot-password--header h1{
  margin: 2rem;
}
.forgot-password--main{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}
.forgot-password--main-div{
  width: 30vw;
}
.forgot-password--text{
  font-size: 1.6rem;
  padding-bottom: 50px;
  text-align: center;
  font-weight: 500;
}
.forgot-password--text span{
  font-size: 0.8rem;
  opacity: 0.5;
  font-weight: normal;
}
.forgot-password--main-div input[type=email], .forgot-password--main-div input[type=password]{
  width:100%;
  height: 40px;
  border: 2px solid #F2ADAD;
  border-radius: 4px;
  font-size: 1.4rem;
  padding-left: 20px;
  margin-top: 5px;
  margin-bottom: 30px;
  outline: none;
}
.forgot-password--main-div input[type=email]::placeholder {
  color: #F2ADAD;
}
.forgot-password--main-div input[type=email]:focus {
  border: 2px solid #F2ADAD;
  border-radius: 4px;
}
.forgot-password--main-div input[type=submit]{
  border-radius: 8px;
  width: 100%;
  height: 40px;
  background-color: #FC9292;
  color: white;
  border: none;
  font-size: 1.4rem;
  margin-top: 50px;
}
.forgot-password--main-div input[type=submit]:hover{
  cursor: pointer;
}
.forgot-password--main-div label{
  font-size: 1.1em;
}
.forgot-password--back{
  padding-top: 40px;
  text-align: center;
}
.forgot-password--back a, .forgot-password--back i{
  color: gray;
  text-decoration: none;
}
.forgot-password--error{
  color: red;
  text-align: center;
  font-weight: 500;
}